.bg-image {
  background-image: url("./assets/bg.svg");
  background-size: cover;
  /* height:auto; */
}
.bg-halfsection {
  background-image: url("./assets/bg-blue.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.input {
  background-color: "#FFFFFF";
}

::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
  color: transparent;
}
.fit {
  width: fit-content;
}


.customsb::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #374151;
}

.customsb::-webkit-scrollbar {
  width: 9px; /* Width of the scrollbar */
  height: 9px; /* Height of the scrollbar (for horizontal scrollbars) */
}

.customsb::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, #0051A8, #007BFF); /* Gradient for the scrollbar thumb */
  border-radius: 10px; 
}

.customsb::-webkit-scrollbar-track {
  background: #E9E9E9; 
  border-radius: 10px; 
}


.customsb::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, #0051A8, #007BFF); 
  border-radius: 10px; 
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.custom-dotted-border {
  border: 1px dotted #0056B399; 
  border-style: dotted;
  border-color: #0056B399;
  border-width: 1px;
  border-spacing: 5px; 
  border-image: initial; 
}
